@use 'sass:color';
@use '../colors' as *;

// ------------------------------------------------------------
// CHECKBOXES | src/ui-kit/checkboxes.scss
// ------------------------------------------------------------
// Checkbox variables according to formula: --checkbox-{variant}-{property}-{modifier}
:root {
  // Base checkbox colors
  --checkbox-base-bg-color: #{color.scale($color-light, $lightness: -20%)};
  --checkbox-base-bg-color-checked: #{$color-primary};
  --checkbox-base-bg-color-disabled: #{$color-disabled};

  // Base checkbox borders
  --checkbox-base-border-color: #{color.scale($color-light, $lightness: 30%)};
  --checkbox-base-border-color-checked: #{$color-primary};
  --checkbox-base-border-color-focus: #{$color-primary};
  --checkbox-base-border-color-disabled: #{color.scale(
      $color-disabled,
      $lightness: 20%
    )};

  // Base checkbox text and checkmark
  --checkbox-base-checkmark-color: #{$color-white};
  --checkbox-base-text-color: #{$color-text};
  --checkbox-base-text-color-disabled: #{color.scale($color-text, $alpha: -40%)};

  // Base checkbox shadows
  --checkbox-base-shadow-focus: #{color.scale($color-primary, $alpha: -60%)};

  // Error checkbox
  --checkbox-error-border-color: #{$color-danger};
  --checkbox-error-shadow-focus: #{color.scale($color-danger, $alpha: -40%)};

  // Success checkbox
  --checkbox-success-border-color: #{$color-success};
  --checkbox-success-shadow-focus: #{color.scale($color-success, $alpha: -20%)};
}
