@use 'sass:color';
@use '../colors' as *;

// === LINKS VARIABLES ===
// links.scss
:root {
  --sss-color-link: #{$color-primary};
  --sss-color-link-hover: #{color.scale($color-primary, $lightness: 20%)};
  --sss-color-link-visited: #{color.scale($color-primary, $lightness: -20%)};
  --sss-color-link-active: #{color.scale($color-primary, $lightness: 40%)};
  --sss-color-link-focus: #{color.scale($color-primary, $lightness: 50%)};
  --sss-color-link-focus-outline: #{color.scale(
      $color-primary,
      $lightness: 30%
    )};
}
