@use 'sass:color';
@use '../colors' as *;

// ------------------------------------------------------------
// SWITCHES | src/ui-kit/switches.scss
// ------------------------------------------------------------
// Switch variables according to formula: --sss-switch-{variant}-{property}-{modifier}
:root {
  // Base switch colors
  --sss-switch-base-bg-color: #{color.scale($color-disabled, $lightness: 20%)};
  --sss-switch-base-bg-color-checked: #{$color-primary};
  --sss-switch-base-bg-color-disabled: #{$color-disabled};
  --sss-switch-base-bg-color-checked-disabled: #{color.scale(
      $color-primary,
      $lightness: -20%,
      $alpha: -40%
    )};

  // Switch thumb and text
  --sss-switch-base-thumb-color: #{$color-white};
  --sss-switch-base-text-color: #{$color-text};

  // Switch shadows
  --sss-switch-base-shadow-color-focus: #{color.scale(
      $color-primary,
      $alpha: -60%
    )};

  // Error switch
  --sss-switch-error-bg-color-checked: #{$color-danger};
  --sss-switch-error-shadow-color-focus: #{color.scale(
      $color-danger,
      $alpha: -40%
    )};

  // Success switch
  --sss-switch-success-bg-color-checked: #{$color-success};
  --sss-switch-success-shadow-color-focus: #{color.scale(
      $color-success,
      $alpha: -20%
    )};
}
