/* SCSS Variables */
$header-min-height: 60px;
$footer-min-height: 60px;

// Colors
// $color-body-bg: #f0f0f0;
// $color-header-bg: #dcdcdc;
// $color-footer-bg: #dcdcdc;
// $color-main-bg: #e8e8e8;
// $color-container-bg: #f1f1f1;
// $color-aside-bg: #dfffdf;
// $color-content-bg: #fff;

$color-body-bg: #fff;
$color-header-bg: #fff;
$color-footer-bg: #fff;
$color-main-bg: #fff;
$color-container-bg: #fff;
$color-aside-bg: #fff;
$color-content-bg: #fff;

/* CSS Variables */
:root {
  --hgl-header-min-height: #{$header-min-height};
  --hgl-footer-min-height: #{$footer-min-height};

  --hgl-color-body-bg: #{$color-body-bg};
  --hgl-color-header-bg: #{$color-header-bg};
  --hgl-color-footer-bg: #{$color-footer-bg};
  --hgl-color-main-bg: #{$color-main-bg};
  --hgl-color-container-bg: #{$color-container-bg};
  --hgl-color-aside-bg: #{$color-aside-bg};
  --hgl-color-content-bg: #{$color-content-bg};
}

#root {
  display: contents;
}

.holy-grail {
  /* Ensure full viewport height on mobile devices */
  min-height: 100dvh;
  font-family: Arial, sans-serif;
  background-color: var(--hgl-color-body-bg);

  /* Flex container (as parent) */
  display: flex;
  flex-direction: column;
  gap: 15px;

  &--header {
    width: 100%;
    background-color: var(--hgl-color-header-bg);
    min-height: var(--hgl-header-min-height);
    padding: 0 15px;
  }

  &--main {
    width: 100%;
    background-color: var(--hgl-color-main-bg);
    // padding: 0 15px;

    /* Fill remaining space (as child) */
    flex: 1;

    /* Flex container (as parent) */
    display: flex;
  }

  &--container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--hgl-color-container-bg);
  }

  &--main-columns {
    display: flex;
    gap: 15px;
    flex: 1;
  }

  &--aside {
    background-color: var(--hgl-color-aside-bg);
    padding: 15px;
    min-width: 200px;
    max-width: 300px;
  }

  &--content {
    background-color: var(--hgl-color-content-bg);
    padding: 15px;
    flex: 1;
  }

  &--footer {
    width: 100%;
    background-color: var(--hgl-color-footer-bg);
    min-height: var(--hgl-footer-min-height);
    padding: 0 15px;

    display: flex;
    align-items: flex-end;
  }
}

@media (0 < width < 1024px) {
  .holy-grail--aside {
    max-width: 100%;
  }

  .holy-grail--main-columns {
    flex-direction: column;
  }
}
