@use 'sass:map';

// Minimal flex utilities inspired by Tailwind CSS
.flex {
  display: flex;
}

// Direction
.flex-col {
  flex-direction: column;
}

// Flex wrap
.flex-wrap {
  flex-wrap: wrap;
}

// Flex grow/shrink
.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}
