@use 'sass:color';
@use '../colors' as *;

// ------------------------------------------------------------
// FORM INPUTS | src/ui-kit/form-inputs.scss
// ------------------------------------------------------------
// Form Input variables according to formula: --sss-form-input-{variant}-{property}-{modifier}
:root {
  // Form label
  --sss-form-label-text-color: #{$color-secondary};

  // Base form input colors
  --sss-form-input-bg-color: #{$color-light};
  --sss-form-input-bg-color-disabled: #{$color-disabled};

  // Base form input borders
  --sss-form-input-border-color: #{color.scale($color-dark, $lightness: 70%)};
  --sss-form-input-border-color-focus: #{$color-primary};
  --sss-form-input-border-color-disabled: #{$color-light};

  // Base form input shadows
  --sss-form-input-shadow-color-focus: #{color.scale(
      $color-primary,
      $alpha: -70%
    )};

  // Error state
  --sss-form-input-border-color-error: #{$color-danger};
  --sss-form-input-shadow-color-error: #{color.scale(
      $color-danger,
      $alpha: -50%
    )};

  // Success state
  --sss-form-input-border-color-success: #{$color-success};
  --sss-form-input-shadow-color-success: #{color.scale(
      $color-success,
      $alpha: -10%
    )};

  // Warning state
  --sss-form-input-border-color-warning: #{$color-warning};
  --sss-form-input-shadow-color-warning: #{color.scale(
      $color-warning,
      $alpha: -70%
    )};
}
