@use 'sass:color';

// Dark theme base colors
$color-primary: #4dabff;
$color-secondary: #a9b3bd;
$color-success: #66bb6a;
$color-warning: #ffca28;
$color-danger: #ef5350;
$color-info: #29b6f6;
$color-light: #424242;
$color-dark: #121212;
$color-text: #e0e0e0;
$color-background-light: #2d2d2d;
$color-white: #1e1e1e;
$color-disabled: #616161;
