<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>the Layout (by the-teacher)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body class="layout__body">
    <div id="root">
      <header class="layout__header">
        <div class="layout__content-container">Header Content</div>
      </header>

      <div class="layout__main">
        <div class="layout__content-container layout__main-columns">
          <aside class="layout__aside">Sidebar</aside>
          <main class="layout__main-content">Main Content</main>
          <aside class="layout__aside">Sidebar</aside>
        </div>
      </div>

      <footer class="layout__footer">
        <div class="layout__content-container">Footer Content</div>
      </footer>
    </div>
  </body>
</html>
