@use 'sass:color';
@use './colors' as *;

// Common CSS variables formula
// --{component}-{variant}-{property}-{modifier}
//
// component: button
// variant: primary, secondary, light, success, warning, danger, info, ghost, base
// property: bg-color, text-color, border-color, border-size, border-radius, font-size, padding
// modifier: (empty), hover, active, disabled, focus
//
// Examples:
//
// --button-primary-bg-color
// --button-primary-bg-color-hover
// --button-primary-text-color-disabled
// --button-ghost-border-color-hover
//
// --card-bg-color
// --card-bg-color-hover
// --card-bg-color-active
// --card-bg-color-disabled
// --card-text-color
// --card-text-color-hover
// --card-text-color-active

:root {
  // Base colors from SCSS variables
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-success: #{$color-success};
  --color-warning: #{$color-warning};
  --color-danger: #{$color-danger};
  --color-info: #{$color-info};
  --color-light: #{$color-light};
  --color-dark: #{$color-dark};
  --color-white: #{$color-white};
  --color-text: #{$color-text};
  --color-disabled: #{$color-disabled};
}

// ------------------------------------------------------------
// BUTTONS
// Button variables according to formula: --button-{variant}-{property}-{modifier}
// ------------------------------------------------------------
:root {
  // Base button colors
  // ------------------------------------------------------------
  --button-base-bg-color-disabled: #{$color-disabled};
  --button-base-text-color-disabled: #{$color-text};

  // ------------------------------------------------------------
  // Primary button colors
  // ------------------------------------------------------------
  --button-primary-bg-color: #{$color-primary};
  --button-primary-bg-color-hover: #{color.scale(
      $color-primary,
      $lightness: -10%
    )};
  --button-primary-bg-color-active: #{color.scale(
      $color-primary,
      $lightness: -15%
    )};
  --button-primary-bg-color-disabled: #{color.scale(
      $color-primary,
      $lightness: 30%,
      $alpha: -40%
    )};
  --button-primary-text-color: #{$color-white};
  --button-primary-text-color-disabled: #{color.scale(
      $color-white,
      $alpha: -30%
    )};

  // ------------------------------------------------------------
  // Secondary button colors
  // ------------------------------------------------------------
  --button-secondary-bg-color: #{$color-secondary};
  --button-secondary-bg-color-hover: #{color.scale(
      $color-secondary,
      $lightness: -10%
    )};
  --button-secondary-bg-color-active: #{color.scale(
      $color-secondary,
      $lightness: -15%
    )};
  --button-secondary-bg-color-disabled: #{color.scale(
      $color-secondary,
      $lightness: 30%,
      $alpha: -40%
    )};
  --button-secondary-text-color: #{$color-white};
  --button-secondary-text-color-disabled: #{color.scale(
      $color-white,
      $alpha: -30%
    )};

  // ------------------------------------------------------------
  // Light button colors
  // ------------------------------------------------------------
  --button-light-bg-color: #{$color-light};
  --button-light-bg-color-hover: #{color.scale($color-light, $lightness: -10%)};
  --button-light-bg-color-active: #{color.scale($color-light, $lightness: -15%)};
  --button-light-bg-color-disabled: #{color.scale(
      $color-light,
      $lightness: 10%,
      $alpha: -10%
    )};
  --button-light-text-color: #{color.scale($color-dark, $lightness: 70%)};
  --button-light-text-color-hover: #{color.scale($color-dark, $lightness: 30%)};
  --button-light-text-color-disabled: #{color.scale(
      $color-dark,
      $lightness: 80%,
      $alpha: -10%
    )};

  // ------------------------------------------------------------
  // Success button colors
  // ------------------------------------------------------------
  --button-success-bg-color: #{$color-success};
  --button-success-bg-color-hover: #{color.scale(
      $color-success,
      $lightness: -10%
    )};
  --button-success-bg-color-active: #{color.scale(
      $color-success,
      $lightness: -15%
    )};
  --button-success-bg-color-disabled: #{color.scale(
      $color-success,
      $lightness: 30%,
      $alpha: -40%
    )};
  --button-success-text-color: #{$color-white};
  --button-success-text-color-disabled: #{color.scale(
      $color-white,
      $alpha: -30%
    )};

  // ------------------------------------------------------------
  // Warning button colors
  // ------------------------------------------------------------
  --button-warning-bg-color: #{$color-warning};
  --button-warning-bg-color-hover: #{color.scale(
      $color-warning,
      $lightness: -10%
    )};
  --button-warning-bg-color-active: #{color.scale(
      $color-warning,
      $lightness: -15%
    )};
  --button-warning-bg-color-disabled: #{color.scale(
      $color-warning,
      $lightness: 20%,
      $alpha: -40%
    )};
  --button-warning-text-color: #{$color-text};
  --button-warning-text-color-disabled: #{color.scale(
      $color-text,
      $alpha: -40%
    )};

  // ------------------------------------------------------------
  // Danger button colors
  // ------------------------------------------------------------
  --button-danger-bg-color: #{$color-danger};
  --button-danger-bg-color-hover: #{color.scale(
      $color-danger,
      $lightness: -10%
    )};
  --button-danger-bg-color-active: #{color.scale(
      $color-danger,
      $lightness: -15%
    )};
  --button-danger-bg-color-disabled: #{color.scale(
      $color-danger,
      $lightness: 30%,
      $alpha: -40%
    )};
  --button-danger-text-color: #{$color-white};
  --button-danger-text-color-disabled: #{color.scale(
      $color-white,
      $alpha: -30%
    )};

  // ------------------------------------------------------------
  // Info button colors
  // ------------------------------------------------------------
  --button-info-bg-color: #{$color-info};
  --button-info-bg-color-hover: #{color.scale($color-info, $lightness: -10%)};
  --button-info-bg-color-active: #{color.scale($color-info, $lightness: -15%)};
  --button-info-bg-color-disabled: #{color.scale(
      $color-info,
      $lightness: 30%,
      $alpha: -40%
    )};
  --button-info-text-color: #{$color-white};
  --button-info-text-color-disabled: #{color.scale($color-white, $alpha: -30%)};

  // ------------------------------------------------------------
  // Ghost button colors
  // ------------------------------------------------------------
  --button-ghost-bg-color: #{color.scale(
      $color-light,
      $lightness: 10%,
      $alpha: -20%
    )};
  --button-ghost-bg-color-hover: #{color.scale(
      $color-light,
      $lightness: 5%,
      $alpha: -15%
    )};
  --button-ghost-bg-color-disabled: #{color.scale(
      $color-light,
      $lightness: 15%,
      $alpha: -30%
    )};
  --button-ghost-text-color: #{color.scale(
      $color-dark,
      $lightness: 30%,
      $alpha: -10%
    )};
  --button-ghost-text-color-hover: #{color.scale(
      $color-dark,
      $lightness: 5%,
      $alpha: -10%
    )};
  --button-ghost-text-color-disabled: #{color.scale(
      $color-dark,
      $lightness: 80%,
      $alpha: -20%
    )};
  --button-ghost-border-color: #{color.scale(
      $color-light,
      $lightness: 10%,
      $alpha: -20%
    )};
  --button-ghost-border-color-hover: #{color.scale(
      $color-light,
      $lightness: 5%,
      $alpha: -15%
    )};
  --button-ghost-border-color-disabled: #{color.scale(
      $color-light,
      $lightness: 15%,
      $alpha: -30%
    )};
}

// ------------------------------------------------------------
// CARDS | src/ui-kit/card.scss
// ------------------------------------------------------------
// Card variables according to formula: --card-{variant}-{property}-{modifier}
:root {
  // Card background and borders
  --card-base-bg-color: #{$color-white};
  --card-header-border-color: #{color.scale($color-light, $lightness: -10%)};
  --card-footer-border-color: #{color.scale($color-light, $lightness: -10%)};

  // Card text colors
  --card-title-text-color: #{$color-text};
  --card-subtitle-text-color: #{$color-secondary};
}

// ------------------------------------------------------------
// FORM GROUPS | src/ui-kit/form-groups.scss
// ------------------------------------------------------------
// Form Group variables according to formula: --form-group-{variant}-{property}-{modifier}
:root {
  // Icon background
  --form-group-icon-bg-color: #{color.scale($color-warning, $lightness: 80%)};
}

// ------------------------------------------------------------
// FORM INPUTS | src/ui-kit/form-inputs.scss
// ------------------------------------------------------------
// Form Input variables according to formula: --form-input-{variant}-{property}-{modifier}
:root {
  // Form label
  --form-label-text-color: #{$color-secondary};

  // Base form input colors
  --form-input-bg-color: #{$color-light};
  --form-input-bg-color-disabled: #{$color-disabled};

  // Base form input borders
  --form-input-border-color: #{color.scale($color-dark, $lightness: 70%)};
  --form-input-border-color-focus: #{$color-primary};
  --form-input-border-color-disabled: #{$color-light};

  // Base form input shadows
  --form-input-shadow-color-focus: #{color.scale($color-primary, $alpha: -70%)};

  // Error state
  --form-input-border-color-error: #{$color-danger};
  --form-input-shadow-color-error: #{color.scale($color-danger, $alpha: -50%)};

  // Success state
  --form-input-border-color-success: #{$color-success};
  --form-input-shadow-color-success: #{color.scale(
      $color-success,
      $alpha: -10%
    )};

  // Warning state
  --form-input-border-color-warning: #{$color-warning};
  --form-input-shadow-color-warning: #{color.scale(
      $color-warning,
      $alpha: -70%
    )};
}

// ------------------------------------------------------------
// INFO BLOCKS | src/ui-kit/info-blocks.scss
// ------------------------------------------------------------
// Info Block variables according to formula: --info-{variant}-{property}-{modifier}
:root {
  // Base info block
  --info-base-bg-color: #{$color-light};
  --info-base-border-color: #{color.scale($color-light, $lightness: -10%)};

  // Primary info block
  --info-primary-bg-color: #{color.scale($color-primary, $lightness: 90%)};
  --info-primary-border-color: #{$color-primary};
  --info-primary-text-color: #{$color-text};

  // Secondary info block
  --info-secondary-bg-color: #{color.scale($color-secondary, $lightness: 90%)};
  --info-secondary-border-color: #{$color-secondary};
  --info-secondary-text-color: #{$color-secondary};

  // Success info block
  --info-success-bg-color: #{color.scale($color-success, $lightness: 90%)};
  --info-success-border-color: #{$color-success};
  --info-success-text-color: #{$color-success};

  // Danger info block
  --info-danger-bg-color: #{color.scale($color-danger, $lightness: 90%)};
  --info-danger-border-color: #{$color-danger};
  --info-danger-text-color: #{$color-danger};

  // Warning info block
  --info-warning-bg-color: #{color.scale($color-warning, $lightness: 90%)};
  --info-warning-border-color: #{$color-warning};
  --info-warning-text-color: #{$color-warning};

  // Light info block
  --info-light-bg-color: #{color.scale($color-info, $lightness: 90%)};
  --info-light-border-color: #{$color-info};
  --info-light-text-color: #{$color-info};

  // Dark info block
  --info-dark-bg-color: #{$color-dark};
  --info-dark-border-color: #{color.scale($color-dark, $lightness: -10%)};
  --info-dark-text-color: #{$color-light};

  // Close button
  --info-close-bg-color: rgba(92, 64, 51, 0.1);
  --info-close-bg-color-hover: rgba(92, 64, 51, 0.2);
}

// ------------------------------------------------------------
// LINKS | src/ui-kit/links.scss
// ------------------------------------------------------------
// Link variables according to formula: --link-{variant}-{property}-{modifier}
:root {
  // Base link colors
  --link-base-text-color: #{$color-primary};
  --link-base-text-color-hover: #{color.scale($color-primary, $lightness: -20%)};
  --link-base-text-color-visited: #{color.scale(
      $color-primary,
      $lightness: 20%
    )};
  --link-base-text-color-active: #{color.scale(
      $color-primary,
      $lightness: -40%
    )};
  --link-base-text-color-focus: #{color.scale($color-primary, $lightness: -50%)};
  --link-base-outline-color-focus: #{color.scale(
      $color-primary,
      $lightness: -30%
    )};

  // Disabled link
  --link-disabled-text-color: #{$color-disabled};
}

// ------------------------------------------------------------
// CHECKBOXES | src/ui-kit/checkboxes.scss
// ------------------------------------------------------------
// Checkbox variables according to formula: --checkbox-{variant}-{property}-{modifier}
:root {
  // Base checkbox colors
  --checkbox-base-bg-color: #{$color-light};
  --checkbox-base-bg-color-checked: #{$color-primary};
  --checkbox-base-bg-color-disabled: #{$color-disabled};

  // Base checkbox borders
  --checkbox-base-border-color: #{color.scale($color-dark, $lightness: 70%)};
  --checkbox-base-border-color-checked: #{$color-primary};
  --checkbox-base-border-color-focus: #{$color-primary};
  --checkbox-base-border-color-disabled: #{$color-light};

  // Base checkbox text and checkmark
  --checkbox-base-checkmark-color: #{$color-white};
  --checkbox-base-text-color: #{$color-text};
  --checkbox-base-text-color-disabled: #{color.scale($color-text, $alpha: -40%)};

  // Base checkbox shadows
  --checkbox-base-shadow-focus: #{color.scale($color-primary, $alpha: -70%)};

  // Error checkbox
  --checkbox-error-border-color: #{$color-danger};
  --checkbox-error-shadow-focus: #{color.scale($color-danger, $alpha: -50%)};

  // Success checkbox
  --checkbox-success-border-color: #{$color-success};
  --checkbox-success-shadow-focus: #{color.scale($color-success, $alpha: -10%)};
}

// ------------------------------------------------------------
// DATA DISPLAY | src/ui-kit/data-display.scss
// ------------------------------------------------------------
// Data Display variables according to formula: --data-display-{variant}-{property}-{modifier}
:root {
  // Field borders
  --data-display-field-border-color: #{color.scale(
      $color-light,
      $lightness: -10%
    )};

  // Text colors
  --data-display-label-text-color: #{$color-secondary};
  --data-display-value-text-color: #{$color-text};

  // Link colors
  --data-display-link-text-color: #{$color-primary};
  --data-display-link-text-color-hover: #{color.scale(
      $color-primary,
      $lightness: -20%
    )};
}

// ------------------------------------------------------------
// SWITCHES | src/ui-kit/switches.scss
// ------------------------------------------------------------
// Switch variables according to formula: --switch-{variant}-{property}-{modifier}
:root {
  // Base switch colors
  --switch-base-bg-color: #{color.scale($color-disabled, $lightness: 10%)};
  --switch-base-bg-color-checked: #{$color-primary};
  --switch-base-bg-color-disabled: #{$color-disabled};
  --switch-base-bg-color-checked-disabled: #{color.scale(
      $color-primary,
      $lightness: 30%,
      $alpha: -40%
    )};

  // Switch thumb and text
  --switch-base-thumb-color: #{$color-white};
  --switch-base-text-color: #{$color-text};

  // Switch shadows
  --switch-base-shadow-color-focus: #{color.scale($color-primary, $alpha: -70%)};

  // Error switch
  --switch-error-bg-color-checked: #{$color-danger};
  --switch-error-shadow-color-focus: #{color.scale($color-danger, $alpha: -50%)};

  // Success switch
  --switch-success-bg-color-checked: #{$color-success};
  --switch-success-shadow-color-focus: #{color.scale(
      $color-success,
      $alpha: -10%
    )};
}

// ------------------------------------------------------------
// TEXT STYLES | src/ui-kit/text-styles.scss
// ------------------------------------------------------------
// Text variables according to formula: --text-{variant}-{property}-{modifier}
:root {
  // Text colors
  --text-primary-text-color: #{$color-primary};
  --text-secondary-text-color: #{$color-secondary};
  --text-success-text-color: #{$color-success};
  --text-danger-text-color: #{$color-danger};
  --text-warning-text-color: #{$color-warning};
  --text-info-text-color: #{$color-info};
  --text-light-text-color: #{$color-light};
  --text-dark-text-color: #{$color-dark};
}
